body {
	background: #ababab;
	margin: 0px;
	padding: 0px;
	font-family: Franklin, Helvetica, Trebuchet, Arial, sans-serif;
	font-size: 12pt;
}
a {
	outline: none;
}
.lightblue {
	color: #ddf0fb;
}
.deepred {
	color: #791515;
}
#header,#page {
	width: 700px;
}
#headerbg {
	width: 700px;
	height: 89px;
	background: #868686;
	background-image: url('./img/head_bg.png');
}
#header {
	height: 89px;
	background: url('./img/ant-small.png') no-repeat left center;
	padding-left: 75px;
	margin-left: 15px;
	color: white;
}
#header h1 {
	margin: 0px;
	padding: 0px;
	padding-top: 26px;
}
.pageCenter{
	margin: 0 auto;
}
#menu ul,li {
	display: inline;
}
#menu {
	position: absolute;
	width: 730px;
	height: 33px;
	margin-left: -15px;
	background: #535353; 
	background-image: url("./img/menu_bg.png");

	-moz-box-shadow: 0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
	box-shadow: 0 0 5px #444;
	color: #c3c3c3;
	font-weight: bold;

		-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
#menu ul {
	position: absolute;
	margin: 7px 0px 0px 10px;
	padding: 0px;
}
#menu li {
	padding: 10px;
}

#menu a {
	color: #FFF;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}
#page {
	background: white;
}
#main {
	padding: 40px 15px 15px 15px;
	font-size: 11pt;
}